table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    background-color: #f4f4f4;
  }
  button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; 
}

.table-container {
max-height: 400px; 
overflow-y: auto;
margin-top: 20px;
border: 1px solid #ccc;
}


#modal-mapa {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  z-index: 9999;
  width: 420px;
  height: 320px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#mapa-view {
  height: 250px;
  width: 100%;
}

.filtro-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  border-radius: 4px;
}

.filtro-container label {
  font-weight: bold;
  margin-right: 5px;
}

.filtro-container input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filtro-container button {
  padding: 6px 12px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.filtro-container button:hover {
  background-color: #e4e4e4;
}